<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <div id="Screen">
        <div id="superior_text">
        <h2 id="text">Logo League of Legends</h2>
        <h2 id="text2">BR(PT) <img id="global" src="/static/global.png" alt=""> </h2> 
        
        </div>
        <div id="Description">
            <h1>LOGIN</h1>
            <input type="text" name="username" class="Block" placeholder="NOME DE USUÁRIO">
            <input type="text" name="password" class="Block" placeholder="SENHA">
            <div id="check">
            <input type="checkbox" name="" ><p>Manter Login</p>
            </div>
            <div id="Button">
            <img src="/static/lol.png" alt="logo" srcset="" style="height: 1.6rem; position: relative; left: 0.7rem;top: 0.9rem;">
            </div>
        </div>

        <a href=""><h3>Criar conta</h3></a>
        <a href=""><h3>Não consegue iniciar sessão?</h3></a>
        <h4 id="version">V1.10.0</h4>
    </div>
    <img src="/Yasuo.png" id="Image" alt="">
</body>
</html>