*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Helvetica;
}
body{
    background-color: #81259d;
}
#Panel{
    position: relative;
    left: 65vh;
    top: 1rem;
    text-align:center;
    background-color: white;
    border-radius: 10px;
    height: 640px;
    width: 450px;
}
h1{
    padding: 50px 0px;
}
label,input{
    position: relative;
    left: 2.5rem;   
    display: flex;
}
label{
    color: #777777;
    padding: 20px 0px;
}
input[type='text'],input[type='password']{
    width: 80%;
    padding: 10px 5px;
    border: none;
    border-bottom: 2px #777777 dotted;
}

input[type='submit']{
    height: 60px;
    width: 330px;
    margin-left: 17px;
    margin-top: 4rem;
    color: #81259d ;
    border-radius: 5px;
    background-color: white;
    border-color: #81259d;
    font-size: 18px;
    font-weight: bold;
}
h2{ 
    position: relative;
    top:3rem;
    padding: 10px 110px;
    font-size: 18px;
}
a{
    color: #81259d;
    text-decoration: none;
}
@media (max-width:800px) {
    #Panel{
        width:85%;
        left: 1rem;
    }
    input[type='submit']{
        left: 0rem;
    }
}