*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#Logo{
    height: 130px;
}
#conteiner{
    
    width: 50%;
    position: relative;
    text-align: center;    
    top: 5rem;
    left: 25%;
}

span{
    border-radius: 20px;
    border: 0.1px solid rgb(179, 177, 177);
    display: flex;
    width: 90%;
    margin-left: 2.5rem;
}
.fa{
    color: gray;
    padding: 10px 20px;
}
#keyboard{
    margin-top: 15px;
    height: 16px;
    padding: 0px 15px;
}
#search{
    outline: none;    
    width: 90%;
    border: none;
    height: 44px;
}



.button{    
    font-size: 14px;
    background-color: rgb(247, 247, 247);
    padding: 10px 20px;
    border: none;
    position: relative;
    top: 2rem;    
    color: rgb(95, 95, 95);
}

h3{
    color: rgb(31, 31, 31);
    font-weight: 100;
    font-size: 14px;
    position: relative;
    top: 4rem;
    width: 100%;
}
a{
    text-decoration: none;
}
footer{
    display: flex;
    background-color: #f2f2f2;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top:87.5vh;
    
}
#under{
    border-top: 2px solid rgb(199, 199, 199);
    position: relative;
    display: flex;
    padding: 5px 30px;
    
}
h4{
    color: #707172;
    padding: 15px 40px;
}
h5{
    color: #707172;
    padding: 5px 10px;
}
#footer{
    padding: 15px 40px;
    position: relative;

}
@media(max-width:800px)
{

    #Logo{
        height: 100px;
        margin-left: 0.6rem;
        
    }
    footer{

        position: relative;
        top: 13rem;
    }
    #button{
        margin-left: -2rem;
        display: flex;
    }
    .button{
        font-size: 12px;
        background-color: rgb(230, 230, 230);
        
    }
    #Space{
        margin-left: -2rem;
        width: 300px;
    
    }
    #google{
        width: 190px;
    }
    h3{
        left: 15px;
    }
}